<div class="container">
  <form action="/tasks" method="post">
    <input type="text" name="title" placeholder="タイトル"><br>
      <input type="text" name="due_date" placeholder="締切"><br>
      <input class="form-control col-lg-4" type="submit" value="登録">
  </form>
</div>